*{
  margin: 10px;
}
@font-face {
  font-family: 'ds-digital';
  src: url('./DS-DIGIT.TTF');
}
.App{
  display:flex;
  justify-content:space-between;
}
.relogio {
  background-color: #3d3c3c;
  font-family: 'ds-digital';
  color:chartreuse;
  padding: 50px 10px;
  letter-spacing: 7px;
  text-align: center;
  margin: auto;
  height: 150px;
  width: 550px;
  border-radius: 10px;
  font-size:69px;
 }
h1{
   border: 1px solid white;
}
.imagem {
  width:450px;
  height:450px;

}